pipeline/IncrementalLoad_SQL_to_LakeBlob.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Current_Load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(DATE_ID) AS max_date FROM CarSalesData;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "carsData_SQL_incrementalLoad",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "CarSalesData"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Last_Load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM watermark_table;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "carsData_SQL_incrementalLoad",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "watermark_table"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Current_Load",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Last_Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM CarSalesData\nWHERE DATE_ID > '@{activity('Last_Load').output.value[0].last_load}'\nAND DATE_ID <= '@{activity('Current_Load').output.value[0].max_date}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "carsData_SQL_incrementalLoad",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "CarSalesData"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dataLake_CarsData",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@concat('CarsData_',utcNow())",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Update_WaterMark_table]",
					"storedProcedureParameters": {
						"lastLoad": {
							"value": {
								"value": "@activity('Current_Load').output.value[0].max_date",
								"type": "Expression"
							}
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "diljotSQL_incrementalLoad",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}